@model ManageEmployee.Models.Certificate

@{
    ViewData["Title"] = "DeleteCertificate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Xóa</h1>

<h3>Bạn có chắc muốn xóa bằng cấp?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CertificateId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CertificateName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CertificateRank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CertificateRank)
        </dd>
    </dl>

    <form asp-action="DeleteCertificate">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Details" asp-route-id="@Model.EmployeeId">Quay lại</a>
    </form>
</div>
